###########
# General #
###########

**/[Tt]est*
**/[Nn]otes*
**__pycache__*

########
# Node #
########

**/node_modules*
*package-lock.json

##################
# Vim temp files #
##################

# Swap
[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
