body{
    background-image: url('../assets/background.jpg');
}

.image{
    width: 400px!important;
    height: auto!important;
}

.card{
    width: 400px;
    height: auto;
    padding: 1rem;
    background-color: transparent;
    box-shadow: transparent;
}

.hidden{
    display: none!important;
}