body {
  margin: 0;
}

.selectionIcon {
  height: 10rem;
  width: auto;
}

#mainWrapper {
  height: 100vh;
  width: auto;
}

#selectionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#selectedWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
