body {
    margin: 0;
}

.top {
    background-color: lightskyblue;
    grid-area: header;
}

.sidebar {
    background-color: yellow;
    grid-area: nav;
}

.content {
    background-color: teal;
    grid-area: main;
}

.bottom {
    background-color: violet;
    grid-area: footer;
}

.wrapper {
    display:grid;
    grid-template-columns: .25fr 1fr 1fr;
    grid-template-rows: .25fr 1fr .1fr;
    grid-template-areas: 'header header header'
    'nav main main'
    'footer footer footer';
    background-color: blue;
    width: 1fr;
    height: 100vh;
    margin: 0;
    padding: 0;
}